body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Шапка сайта */
header {
    height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    
    background-color: #FFFFFF;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
} 

header>.container {
    height: 100%;
}

header>.container>.row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 8px;
}

header .logo {
    width: 120px;
    height: 12px;
}

.buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.sign-in {
    width: 78px;
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 13px;
}

.basket {
    margin-left: 27px;
    width: 19px;
    height: 22px;
}

@media screen and (max-width: 575px){
    .basket {
        display: none;
    }
}

.hero-block {
    margin-top: 72px;
    width: 100%;
    height: 364px;
    background-image: url(./resources/hero-background.png);
    background-size: cover;
}

.hero-card {
    width: 100%;
    height: 204px;
    margin-top: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 0 16px #26262629;
}

.hero-card > .title {
    font-size: 36px;
    padding-top: 38px;
    align-self: center;
}

.hero-card > .bottom-layer {
    margin-left: 38px;
    margin-right: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.hero-card  .tags {
    font-size: 14px;
    color: #626262;
}

.hero-card button {
    width: 100px;
    height: 32px;
    color: #FFFFFF;
    font-size: 13px;
    background-color: #262626;
    border: none;
    border-radius: 16px;    
}

@media screen and (max-width: 575px) {
    .hero-block {
        height: 255px;
    }

    .hero-card {
        height: 180px;
        margin-top: 131px;
    }

    .hero-card > .title {
        font-size: 24px;
        padding-top: 24px;
    }

    .hero-card > .bottom-layer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: 40px;
        padding-bottom: 24px;
    }
}

/*Блок выбора категорий*/
.category-block {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #75757532;
}

.category-block > .container {
    height: 100%;
}

.category-row {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.category {
    font-size: 16px;
    color: #626262;
}

.selected {
    color: #327430;
}

@media screen and (max-width: 575px) {
    .category-block {
        display: none;
    }
}

.header-block {
    margin-top: 56px;
    padding-left: 8px;
    margin-bottom: 32px;
}

@media screen and (min-width: 576px) {
    .mobile-line {
        display: none;
    }
}

.mobile-line {
    width: 50px;
    height: 1px;
    background-color: #757575;
    margin: 0 auto 43px auto;
}

.header-block > h2 {
    margin: 0;
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
    color: #1D1D1D;
}

@media screen and (max-width: 575px) {
    .header-block {
        margin: 112px auto 12px auto;
    }    
}


/* DISH CARD */
.dish-card {
    width: 100%;
    height: 160px;
    border: 1px solid #75757532;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 49px;
    
}


.dish-card.active {
    background-color: #7575750C;
}

.dish-card .text {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 16px;

    min-width: 0;
    white-space: nowrap;
}

.dish-card .title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.dish-card .name {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 4px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish-card .description {
    font-size: 13px;
    line-height: 21px;
    color: #626262;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish-card .price {
    font-size: 15px;
    font-weight:bold;
    line-height: 21px;
    color: #1D1D1D;
    justify-self: flex-end;
}

.dish-card img {
    border-radius: 2px;
}

@media (max-width: 991px) {
    .dish-card {
        margin-bottom: 32px;
    }
}

@media (max-width: 575px) {
    .dish-card {
        height: 102px;
        margin-bottom: 16px;
        border: none;
        border-bottom: 1px solid #75757532;
    }

    .dish-card.active {
        background-color: #FFFFFF;
    }

    .dish-card .text {
        margin: 0 18px 16px 0;
    }

    .dish-card .name {
        font-size: 14px;
        margin-bottom: 4px;
    }
}

/*Footer*/

footer {
    background-color: #262626;
}

.no-padding {
    padding-left: -8px;
    padding-right: -8px;
}

.footer-logo {
    width: 191px;
    height: 20px;
    padding: 47px 0px 40px 8px;
}

.strip {
    width: 100%;
    height: 1px;
    background-color: #979797;
}

.block-1 {
    margin-top: 32px;
    margin-bottom: 48px;
}

.footer-link-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.language-select-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #3b3b3b;
    border-radius: 2px;
}

.world-icon {
    width: 16px;
    height: 16px;
    padding: 12px 16px 12px 16px;

}

#language-select {
    width: 100%;
    font-size: 13px;
    color: #FFFFFF;
    appearance: none;
    border: none;
    outline: none;
    background: url(./resources/language-arrow.svg) 96% / 8% no-repeat #3b3b3b;
}

.hashtag {
    margin-top: 33px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
}

.hashtag>.symbol {
    color: #49A144;
}

.social {
    margin-top: 17px;
    margin-left: -2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.social img {
    width: 24px;
    height: 24px;
}

.footer-text-link {
    text-decoration: none;
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.block-2 {
    margin-top: 41px;
    margin-bottom: 39px;
}

.mobile-links {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.appstore-logo {
    width: 121px;
    height: 40px;
}

.googleplay-logo {
    width: 135px;
    height: 40px;
}

@media screen and (max-width: 575px) {
    .appstore-logo {
        width: 109px;
        height: 36px;
    }

    .googleplay-logo {
        width: 124px;
        height: 36px;
    }
}

.block-3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.copyright-text {
    font-size: 11px;
    text-decoration: none;
    color: #FFFFFF;
}


@media screen and (max-width: 575px) {
    .copyright-text {
        padding-bottom: 24px;
    }
    .social {
        margin-bottom: 39px;
    }
}

.no-padding {
    padding: 0;
}

.home-button {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    
}

@media screen and (max-width: 575px) {
    .home-button {
        width: 64px;
        height: 64px;
    }
}

.home-button>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background: #59BD5A;
}

.home-button img {
    width: 15px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/

footer {
    background-color: #262626;
}

.no-padding {
    padding-left: -8px;
    padding-right: -8px;
}

.footer-logo {
    width: 191px;
    height: 20px;
    padding: 47px 0px 40px 8px;
}

.strip {
    width: 100%;
    height: 1px;
    background-color: #979797;
}

.block-1 {
    margin-top: 32px;
    margin-bottom: 48px;
}

.footer-link-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.language-select-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #3b3b3b;
    border-radius: 2px;
}

.world-icon {
    width: 16px;
    height: 16px;
    padding: 12px 16px 12px 16px;

}

#language-select {
    width: 100%;
    font-size: 13px;
    color: #FFFFFF;
    appearance: none;
    border: none;
    outline: none;
    background: url(./resources/language-arrow.svg) 96% / 8% no-repeat #3b3b3b;
}

.hashtag {
    margin-top: 33px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
}

.hashtag>.symbol {
    color: #49A144;
}

.social {
    margin-top: 17px;
    margin-left: -2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.social img {
    width: 24px;
    height: 24px;
}

.footer-text-link {
    text-decoration: none;
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.block-2 {
    margin-top: 41px;
    margin-bottom: 39px;
}

.mobile-links {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.appstore-logo {
    width: 121px;
    height: 40px;
}

.googleplay-logo {
    width: 135px;
    height: 40px;
}

@media screen and (max-width: 575px) {
    .appstore-logo {
        width: 109px;
        height: 36px;
    }

    .googleplay-logo {
        width: 124px;
        height: 36px;
    }
}

.block-3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.copyright-text {
    font-size: 11px;
    text-decoration: none;
    color: #FFFFFF;
}


@media screen and (max-width: 575px) {
    .copyright-text {
        padding-bottom: 24px;
    }
    .social {
        margin-bottom: 39px;
    }
}

.no-padding {
    padding: 0;
}

.home-button {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    
}

@media screen and (max-width: 575px) {
    .home-button {
        width: 64px;
        height: 64px;
    }
}

.home-button>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background: #59BD5A;
}

.home-button img {
    width: 15px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

